/*
    Filename: style.css
    Author: Jeff Gladstone
    Date: 8/16/2017
*/
body {
  background-color:black;
  font-family: Sans-Serif;
}

#container {
  left:55px;
  width:640px;
  height:450px;
  padding:0; 
  position:relative;
  background-color: #222222;
  border-radius: 10px;
}

.bar {
	background-color: #91e600;
	text-align: center;
	font-family: Arial;
	width: 128px;
	height: 0%;
	line-height: 100px;
	color: black;
	position: absolute;
	bottom:0;
	border-radius: 10px;
}

.block {
	background-color: #999999;
	text-align: center;
	font-family: Arial;
	width: 70px;
	height: 70px;
	line-height: 70px;
	color: black;
	position: absolute;
	border-radius: 10px;
}

#wrapper {
	margin: 0 auto;
	width: 750px;
	border-left:1px solid #333333;
	border-right:1px solid #333333;
}